.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 320px;
  font-family: inherit;
}

.text-input-label {
  font-size: 0.95rem;
  color: var(--text-primary);
  font-weight: bold;
  user-select: none;
}

.text-input-field {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border: 0.1rem solid var(--gray-400);
  border-radius: 0.35rem;
  color: var(--text-primary);
  background-color: var(--bg-light);
  box-shadow: rgba(14, 63, 126, 0.06) 0 0 0 0.0625rem,
    rgba(42, 51, 70, 0.03) 0 0.0625rem 0.0625rem -0.0313rem,
    rgba(42, 51, 70, 0.04) 0 0.125rem 0.125rem -0.0625rem;
  outline: none;
  transition: border-color 0.25s ease, box-shadow 0.25s ease,
    background-color 0.25s ease;
}

.text-input-field:focus {
  border-color: var(--color-mardi-gras);
  box-shadow: 0 0 0 0.2rem rgba(138, 28, 124, 0.1); /* Mardi Gras purple glow */
  background-color: var(--bg-light);
}

.text-input-value {
  font-size: 0.9rem;
  color: var(--text-secondary);
  text-align: right;
  user-select: none;
}

.text-input-error {
  color: var(--error);
  font-size: 0.85rem;
  float: left;
  font-weight: 600;

  /* initial hidden state */
  opacity: 0;
  transform: scale(0.8);
  height: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
  pointer-events: none; /* prevent interaction while hidden */
}

.text-input-error.show {
  opacity: 1;
  height: auto;
  margin-top: 0.25rem;
  transform: scale(1);
  pointer-events: auto;
}
