.info-bubble {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background: var(--gray-100);
  margin-top: 0.5rem;
  gap:1rem;
}

.label {
  font-weight: bold;
  color: var(--text-primary);
  font-size: 0.95rem;
}

.value {
  font-weight: 500;
  color: var(--text-primary);
  font-size: 0.95rem;
}

.unit {
  font-weight: 600;
  color:var(--text-secondary);
  font-size: 0.85rem;
}